*.zip
MOUS_A2002_pilot(2)/*.png
.DS_Store
.venv/
.pytest_cache/
__pycache__/
*.pyc
derivatives/
*.fif
*.npy
*.npz
sub-A2002/sub-A2002_scans.tsv
sub-A2002/*
derivatives/
.DS_Store
.venv/
.pytest_cache/
__pycache__/
*.pyc
sub-A2002.tar.gz
*.tar.gz
